#about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 1em;
  min-height: 100vh;
  padding: 0 5em;

  background: black;
  text-align: justify;

  .about-quote {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 10%;

    .about-title {
      font-size: 1.5em;
      font-weight: 700;
      color: white;
    }

    .about-subtitle {
      font-size: 1em;
      font-weight: 500;
      color: white;
    }
  }

  @media (max-width: 768px) {
    padding: 0 1.5em;
    gap: 1em;
    .about-quote {
      padding: 2em 5%;
    }
  }
}
