.vertical-timeline-element {
  .vertical-timeline-element-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.linked .vertical-timeline-element-content {
  z-index: 0;
  // overflow: hidden;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   top: -16px;
  //   right: -16px;
  //   background: #1a1a1a;
  //   height: 32px;
  //   width: 32px;
  //   border-radius: 32px;
  //   transform: scale(1);
  //   transform-origin: 50% 50%;
  //   transition: transform 0.35s ease-out;
  // }
  //
  // &:has(.link-corner:hover):before {
  //   transform: scale(50);
  // }
  //
  .link-corner {
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: #1a1a1a;
    border-radius: 0 4px 0 32px;

    .link-icon {
      margin-right: -4px;
      color: white;
    }
  }
}
