.vertical-timeline-element-content {
  z-index: 0;

  .vertical-timeline-element-link {
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      svg {
        stroke: #7000ff;
      }
    }
  }
}
