.home {
  .profile-pic {
    position: fixed;
    right: 0;
    top: 15%;
    bottom: 15%;
    height: 70%;
    z-index: 1;
    padding-right: 10em;
    will-change: filter;
    transition: filter 300ms;
    &:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
    .react:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
  }

  .infos {
    position: fixed;
    top: 30%;
    left: 20%;
    text-align: center;

    button {
      margin-top: 1em;
    }
  }
}