.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  .profile-pic {
    width: 30%;
    margin: auto;
    z-index: 1;
    will-change: filter;
    transition: filter 300ms;
    &:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
    .react:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
  }

  .home-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    gap: 0.5em;
  }

  .infos {
    width: 40%;
    text-align: center;
    margin: auto;
  }
}
