#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  height: 100vh;
  margin: auto;

  .infos {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1em;

    .typed {
      line-height: 2em;
      font-size: 1.875rem;
    }

    .socials {
      display: flex;
      gap: 2em;

      padding-left: 0.5em;

      svg {
        transition: all 300ms;
        stroke-width: 1.5px;

        &:hover {
          stroke: #7000ff;
          transform: scale(1.3);
        }
      }
    }

    .home-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.5em;
    }

    @media (max-width: 768px) {
      width: 100%;
      align-items: center;
      text-align: center;
    }
  }

  .profile-pic {
    width: 25%;
    z-index: 1;
    will-change: filter;
    transition: filter 300ms;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
