.parent {
  width: 300px;
  padding: 20px;
  perspective: 1000px;

  .card {
    padding-top: 50px;
    border: 3px solid #ffffff;
    transform-style: preserve-3d;
    background: linear-gradient(135deg, #0000 18.75%, #000 0 31.25%, #0000 0),
      repeating-linear-gradient(45deg, #000 -6.25% 6.25%, #454545 0 18.75%);
    background-size: 60px 60px;
    background-position: 0 0;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-position: -100px 100px;
      transform: rotate3d(0.5, 1, 0, 30deg);
    }

    .content-box {
      background: rgba(85, 45, 165, 0.732);
      transition: all 0.5s ease-in-out;
      padding: 60px 25px 25px;
      transform-style: preserve-3d;

      .card-title {
        display: inline-block;
        color: white;
        font-size: 25px;
        font-weight: 900;
        transition: all 0.5s ease-in-out;
        transform: translate3d(0, 0, 50px);

        &:hover {
          transform: translate3d(0, 0, 60px);
        }
      }

      .card-subtitle {
        display: inline-block;
        color: white;
        font-size: 15px;
        font-weight: 700;
        transition: all 0.5s ease-in-out;
        transform: translate3d(0, 0, 50px);
        &:hover {
          transform: translate3d(0, 0, 60px);
        }
      }

      .card-content {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700;
        color: #f2f2f2;
        transition: all 0.5s ease-in-out;
        transform: translate3d(0, 0, 30px);

        &:hover {
          transform: translate3d(0, 0, 60px);
        }
      }

      .repo-button {
        cursor: pointer;
        margin-top: 1rem;
        display: inline-block;
        font-weight: 900;
        font-size: 9px;
        text-transform: uppercase;
        color: rgb(7, 185, 255);
        background: white;
        padding: 0.5rem 0.7rem;
        transition: all 0.5s ease-in-out;
        transform: translate3d(0, 0, 20px);

        &:hover {
          transform: translate3d(0, 0, 60px);
        }
      }
    }

    .icon-box {
      position: absolute;
      top: 30px;
      right: 30px;
      height: 30px;
      width: 30px;
      background: black;
      border: 1px solid rgb(7, 185, 255);
      padding: 10px;
      transform: translate3d(0, 0, 80px);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
    }
  }
}
