.navbar {
  .header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

    .logo {
      color: #fff;

      font-size: 2em;
      font-weight: bold;

      @media (max-width: 768px) {
        font-size: 2em;
      }
    }

    .navbar-toggle {
      .toggle {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 2.5em;
        height: 2em;

        transition-duration: 0.5s;
        cursor: pointer;

        .bars {
          width: 100%;
          height: 4px;
          border-radius: 4px;

          background-color: rgb(176, 92, 255);

          &#bar2 {
            transition-duration: 0.8s;
          }

          &#bar1,
          &#bar3 {
            width: 70%;
          }
        }
      }

      #checkbox {
        display: none;

        &:checked {
          + .toggle .bars {
            position: absolute;

            transition-duration: 0.5s;
          }

          + .toggle #bar2 {
            transition-duration: 0.5s;
            transform: scaleX(0);
          }

          + .toggle #bar1 {
            width: 100%;

            transition-duration: 0.5s;
            transform: rotate(45deg);
          }

          + .toggle #bar3 {
            width: 100%;

            transition-duration: 0.5s;
            transform: rotate(-45deg);
          }

          + .toggle {
            transition-duration: 0.5s;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  nav {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.8);

    transition: all 0.4s ease;
    transform: translate(100%, -100%);

    ul {
      display: flex;
      flex-direction: column;
      gap: 3em;

      list-style-type: none;

      a {
        font-size: 2em;
        font-weight: bold;

        @media (max-width: 768px) {
          font-size: 2em;
        }
      }
    }
  }

  .header-scroll {
    background: rgba(0, 0, 0, 0.8);
  }

  .nav-active {
    transform: translate(0, 0);
  }
}
