#experiences {
  padding: 0 5em;
  padding-top: 5em;

  h2 {
    text-align: left;
  }

  .today-date {
    font-size: 1.5em;
    color: white;
    text-align: left;
    margin-bottom: 1em;
  }

  .experiences-inner {
    display: flex;
  }
}
